/* Configuración General */
body {
    background-color: #1a1a1a; /* Fondo oscuro tipo Linux */
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: white;
}

.contenedor {
    text-align: center;
    width: 90%;
    max-width: 400px;
    padding: 20px;
}

.foto {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* La hace circular */
    border: 3px solid #00CFEE; /* Color Miku */
    margin-bottom: 15px;
}

h1 {
    font-size: 1.5rem;
    color: #00CFEE;
}

/* Estilo de los Botones */
.enlaces {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre botones */
    margin-top: 25px;
}

.boton {
    background-color: transparent;
    color: #00CFEE;
    border: 2px solid #00CFEE;
    padding: 12px;
    text-decoration: none; /* Quita el subrayado */
    font-weight: bold;
    border-radius: 30px; /* Bordes redondeados modernos */
    transition: 0.3s; /* Animación suave */
}

/* Efecto cuando pasas el mouse (Hover) */
.boton:hover {
    background-color: #00CFEE;
    color: #1a1a1a;
    cursor: pointer;
}

.footer {
    margin-top: 30px;
    font-size: 0.8rem;
    opacity: 0.5;
}
